package components

templ TokenCard(token string) {
	<div class={ "bg-card text-card-foreground shadow-xl p-6 rounded-md border-accent" }>
		<h3 class={ "text-xl mb-6" }>Your auth token for Traggo</h3>
		<p>{ token }</p>
	</div>
}
